@import url("./components/sidebar.css");

#app-content-wrapper {
    height: 100vh;
    background-color: #fafafa;

}

#app-auth-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}