@import url("./components/sidebar.css");

#app-content-wrapper {
    height: 100vh;
    background-color: #fafafa;

}

#app-auth-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-content-wrapper {
    padding: 1rem;
    padding-left: calc(280px + 1rem);
}

table.uk-table tbody tr td {
    vertical-align: middle;
}